:root {
  --font: 'Poppins', sans-serif;
  --primary-color: hsl(257, 40%, 49%);
}

body {
  color: white;
  font-family: var(--font);
  font-weight: 400, 700;  
  overflow: hidden;
  height: 100vh;

}

header {
  margin-top: 20px;
  margin-bottom: 20px;  
}

header img {

  width: 160px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
}

body {
  background: var(--primary-color);
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;  
}

.main__left {
  align-self: center;
}
.main__left img {
  width: 100%;
}

.main-right{
  display: flex;
  flex-direction: column;
}
.main-right__title {
  /* font-size: 2.2em; */
  font-size: 1.8em;
  text-align: center;
  align-self: center;
  width: 300px;
}

.main-right p {
  text-align: center;
  font-weight: 400;
  width: 290px;
  /* font-size: 1.4em; */
  font-size: 1em;
  line-height: 25px;
  align-self: center;
}

.main-right__button{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  align-self: center;
  background-color: white;
  font-size: 1.2em;
  color: var(--primary-color);
  box-shadow: 0;
  border: 0;
}

.icons{
  width: 100%;
  display: flex;   
  justify-content: center; 
}
.icons-list {
  align-self: center;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 0;
  margin: auto 0;
  width: 220px;
}
.icons-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
  font-size: 2em;
  color:white;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
}

a{
  text-decoration: none;
}
